<app-header></app-header>

<div class="container m-t-5 m-b-5">
    <div class="content-travel">
      <div class="text-center">
        <h1 style="color: #333">สถานที่พัก</h1>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let acc of acc">
          <div class="card m-t-5 shadow card-show pointer">
            <img class="card-img-top traval-img" src="{{ acc.images[0].path }}" alt="Card image cap" />
            <div class="card-body">
              <h2 class="nowrap" style="color:#007bff">{{acc.accommodation_name}}</h2>
              <p class="card-text">
                {{(acc.description.length > 60)? (acc.description|slice:0:60)+'...' :(acc.description)}}
              </p>
              <div class="text-center">
                <button class="btn btn-primary" (click)="toAcc(acc.accommodation_id)">อ่านเพิ่มเติม</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
