<app-header></app-header>

<div class="container">
  <br />
  <h1 style="color: #726a95;">ข่าวสาร แม่อาย</h1>
  <hr />
  <div class="content">
    <h1 class="title">ด่วน! เชียงใหม่ สั่งล็อกดาวน์ 3 ตำบล อ.แม่อาย</h1>
    <br />
    <p>
      <b
        >เชียงใหม่มีคำสั่งให้ผู้มาจากสมุทรสาครต้องกักตัว 14 วัน พร้อมล็อกดาวน์ 3
        ตำบล อ.แม่อาย</b
      >
      ผู้สื่อข่าวรายงานว่า วันที่ 21 ธันวาคม 2563 นายเจริญฤทธิ์ สงวนสัตย์
      ผู้ว่าราชการจังหวัดเชียงใหม่ ในฐานะ
      ประธานคณะกรรมการโรคติดต่อจังหวัดเชียงใหม่
      และผู้กำกับการบริหารราชการในสถานการณ์ฉุกเฉินจังหวัดเชียงใหม่
      ออกคำสั่งคณะกรรมการโรคติดต่อจังหวัดเชียงใหม่ ที่ 32/2563 เรื่อง
      การดำเนินการป้องกันการแพร่ระบาดโรคติดเชื้อไวรัสโคโรนา 2019 หรือโรคโควิด 19
      กรณีจังหวัดสมุทรสาคร โดยระบุว่า ด้วยเมื่อวันที่ 19 ธันวาคม 2563
      ศูนย์บริหารสถานการณ์โควิด-19 (ศบค.) ได้แถลงพบผู้ติดเชื้อไวรัสโคโรน่า 2019
      (โควิด-19) ที่จังหวัดสมุทรสาครเพิ่มขึ้น ภายหลังเมื่อวันที่ 17 ธันวาคม 2563
      พบผู้ติดเชื้อไวรัสโคโรนา 2019 (โควิด-19) ในจังหวัด
      ซึ่งอยู่ระหว่างการสอบสวนโรคและติดตามผู้สัมผัสใกล้ชิดผู้ติดเชื้อ
      ควบคู่ไปกับการดำเนินการตรวจคันหาเชื้อเชิงรุก พบว่ามีผู้ติดเชื้อไวรัสโคโรนา
      2019 (โควิด-19) เพิ่มขึ้น รวมทั้งสิ้น จำนวน 548 ราย
      โดยผู้ติดเชื้อส่วนใหญ่ไม่แสดงอาการและเป็นแรงงานต่างด้าว
    </p>
    <div class="text-center">
      <img class="img-news" src="./assets/images/news/36035.jpg" />
    </div>
    <br>
    <p>
      คณะกรรมการโรคติดต่อจังหวัดเชียงใหม่ในคราวประชุมครั้งที่ 75/2563
      เมื่อวันที่ 20 ธันวาคม 2563 ที่ประชุมได้พิจารณากรณีดังกล่าวแล้วเห็นว่า
      เพื่อเป็นการยกระดับมาตรการเฝ้าระวัง ควบคุม
      และป้องกันการแพร่ระบาดจากเชื้อไวรัสโคโรนา 2019 หรือโรคโควิด-19
      ให้เป็นไปอย่างมีประสิทธิภาพ และความจำเป็นของประชาชน
      จึงกำหนดมาตรการการป้องกันการแพร่ระบาดโรคติดเชื้อไวรัสโคโรนา 2019
      หรือโรคโควิด-19 ในกรณีดังกล่าว ดังนี้ ข้อ 1
      ให้ผู้ที่เดินทางมาจากจังหวัดเสี่ยง (จังหวัดสมุทรสาคร ฯลฯ)
      ต่อการแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019 หรือโรคโควิด-19
      ตามประกาศของกรมควบคุมโรค
      เมื่อเดินทางเข้ามายังพื้นที่จังหวัดเชียงใหม่ผ่านทางท่าอากาศยานนานาชาติเชียงใหม่
      สถานีรถไฟเชียงใหม่ และสถานีขนส่งผู้โดยสารจังหวัดเชียงใหม่แห่งที่ 2 และที่
      3 (อาเขต) ต้องกรอกข้อมูลลงใน Application CM-CHANA เพื่อติดตามตัว
      และส่งข้อมูลให้พื้นที่ดำเนินการติดตามในการทำกักกัน (Home Quarantine) จนครบ
      14 วัน
    </p>
    <br />
    <p>
      ข้อ 2 ให้ผู้ที่เดินทางมาจากจังหวัดเสี่ยง (จังหวัดสมุทรสาคร ฯลฯ)
      ต่อการแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019 หรือโรคโควิด-19
      ตามประกาศของกรมควบคุมโรค ตั้งแต่วันที่ 1 ธันวาคม 2563 จนถึงปัจจุบัน
      เมื่อเดินทางเข้ามายังพื้นที่จังหวัดเชียงใหม่
      ให้ไปรายงานตัวต่อเจ้าพนักงานโรคติดต่อในพื้นที่ และทำการกักกันตนเอง (Home
      Quarantine) จนครบ 14 วัน
      <br />
      ข้อ 3 ให้สำนักงานสาธารณสุขจังหวัดเชียงใหม่
      บูรณาการร่วมกับหน่วยงานที่เกี่ยวข้องออกตรวจหาเชื้อเชิงรุก
      ในสถานประกอบการที่เสี่ยงต่อการแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019
      หรือโรคโควิด-19 ตามที่คณะกรรมการโรคติดต่อจังหวัดเชียงใหม่กำหนด ทั้งนี้
      การดำเนินการตามคำสั่งนี้เป็นไปตามพระราชกำหนดการบริหารราชการในสถานการณ์ฉุกเฉิน
      พ.ศ. 2548 จึงไม่อยู่ในบังคับของกฎหมายว่าด้วยวิธีปฏิบัติราชการทางปกครอง
      และกฎหมายว่าด้วยการจัดตั้งศาลปกครองและวิธีพิจารณาทางปกครอง ตามมาตรา 16
      ของพระราชกำหนดดังกล่าว ผู้ใดฝ่าฝืนไม่ปฏิบัติตามต้องระวางโทษจำคุกไม่เกิน 1
      ปี หรือปรับไม่เกิน 100,000 บาท หรือทั้งจำทั้งปรับ ตามมาตรา 52
      แห่งพระราชบัญญัติโรคติดต่อ พ.ศ. 2558 หรือต้องระวางโทษจำคุกไม่เกิน 2 ปี
      หรือปรับไม่เกิน 40,000 บาท หรือทั้งจำทั้งปรับ ตามมาตรา 18
      แห่งพระราชกำหนดการบริหารราชการในสถานการณ์ฉุกเฉิน พ.ศ. 2548
      พร้อมกันนี้ในวันเดียวกัน (21 ธันวาคม 2563)
      ได้ออกคำสั่งคณะกรรมการโรคติดต่อจังหวัดเชียงใหม่ ที่ 31/2563 เรื่อง
      การดำเนินการป้องกันการแพร่ระบาดโรคติดเชื้อไวรัสโคโรนา 2019 หรือโรคโควิด-19
      ในพื้นที่อำเภอแม่อาย โดยข้อสั่งการในคำสั่งระบุว่า
      <br />
      ข้อ 1 จำกัดการเดินทางของประชาชนใน 3 ตำบล ของอำเภอแม่อาย ประกอบด้วย
      ตำบลแม่อาย ตำบลมะลิกา และตำบลท่าตอน
      โดยขอความร่วมมือประชาชนพักอยู่ในที่พักของตนเอง และสังเกตอาการตนเอง
      หากมีความจำเป็นต้องเดินทางออกนอกพื้นที่ให้แจ้งความจำเป็นต่อทีมโควิดหมู่บ้าน
      เพื่อแจ้งให้โรงพยาบาลส่งเสริมสุขภาพตำบลในพื้นที่ออกใบรับรองสำหรับเดินทางออกนอกพื้นที่ไว้เป็นหลักฐาน
      <br />
      ข้อ 2 ให้ประชาชนปฏิบัติตามมาตรการป้องกันโรคที่ทางราชการกำหนดอย่างเคร่งครัด
      โดยเฉพาะการสวมใส่หน้ากากอนามัย หรือหน้ากากทางเลือก
      การเว้นระยะห่างระหว่างบุคคล 1-2 เมตร
      และหลีกเลี่ยงการไปในสถานที่รวมคนจำนวนมาก
      <br />
      ข้อ 3
      ให้สถานที่ทุกแห่งยกระดับการคัดกรองผู้เดินทางเข้าใช้บริการอย่างจริงจัง
      ตามมาตรฐานของศูนย์บริหารสถานการณ์การแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา
      2019 (โควิด-19)
      <br />
      ข้อ 4 ให้อำเภอแม่อายจัดตั้งจุดตรวจบริเวณเขตติดต่อระหว่างตำบลในพื้นที่ของ 3
      ตำบล ได้แก่ ตำบลแม่อาย ตำบลมะลิกา และตำบลท่าตอน
      <br />
      ข้อ 5 บูรณาการตรวจคัดกรองจากจังหวัด และอำเภอข้างเคียง
      เพื่อดำเนินการคัดกรองกลุ่มเสี่ยงในพื้นที่เสี่ยงให้เสร็จภายใน 3 วัน
      <br />
      ข้อ 6 ปิดโรงเรียนในพื้นที่ 3 ตำบล เป็นเวลา 3 วัน ตั้งแต่วันที่ 21-23
      ธันวาคุม 2563 สำหรับนักเรียน นักศึกษาที่มีภูมิลำเนาใน 3 ตำบล ได้แก่
      ตำบลแม่อาย ตำบลมะลิกา ตำบลท่าตอน ที่ศึกษาอยู่ในโรงเรียนต่างพื้นที่
      ให้หยุดเรียนโดยให้สถานศึกษาไม่นับเป็นวันลา สำหรับการปิดสถานศึกษาอื่น ๆ
      ให้อยู่ในดุลยพินิจของศูนย์ปฏิบัติการควบคุมโรคอำเภอแม่อาย
      เมื่อดำเนินการแล้วให้รายงานศูนย์ปฏิบัติการควบคุมโรคจังหวัดเชียงใหม่ทราบทุกครั้ง
      <br />
      ข้อ 7 ห้ามเคลื่อนย้ายแรงานต่างด้าวเข้าและออกในพื้นที่ 3 ตำบล ได้แก่
      ตำบลแม่อาย ตำบลมะลิกา และตำบลท่าตอน
      หากมีความจำเป็นต้องเดินทางออกนอกพื้นที่ให้แจ้งความจำเป็นต่อทีมโควิดหมู่บ้าน
      เพื่อแจ้งให้โรงพยาบาลส่งเสริมสุขภาพตำบลในพื้นที่ออกใบรับรองสำหรับเดินทางออกนอกพื้นที่ไว้เป็นหลักฐาน
      <br />
      ทั้งนี้ คำสั่งฉบับที่ 31/2563 ให้มีผลตั้งแต่วันที่ 21 ธันวาคม 2563
      จนถึงวันที่ 23 ธันวาคม 2563
    </p>
  </div>


  <br>
  <hr style="border-color: red;">
  <br>

  <div class="content">
    <h1 class="title">เชียงใหม่ มาตรการเข้ม พบไทม์ไลน์หญิงอยุธยาติดโควิดจาก อ.แม่อาย</h1>
    <br />
    <div class="text-center">
        <img class="img-news" src="./assets/images/news/24562.png" />
      </div>
      <br>
    <p>
        <b>จ.เชียงใหม่ วางมาตรการคุมเข้ม หลังพบหญิง จ.อยุธยา เดินทากลับจาก จ.เชียงใหม่ วันที่ 20 ธ.ค. </b>
        <br><br>
        วันที่ 20 ธันวาคม 2563 นายแพทย์จตุชัย มณีรัตน์ นายแพทย์สาธารณสุขจังหวัดเชียงใหม่ พร้อมด้วย นาย กนก ศรีวิชัยนันท์ ปลัดจังหวัดเชียงใหม่ แถลงถึงกรณีที่มีข่าวจากจังหวัดอยุธยา พบหญิงป่วยโควิด 1 ราย เดินทางกลับมาจากเชียงใหม่เมื่อวันที่ 20 ธันวาคม เป็นหญิงไทย อายุ 29 ปี อาชีพรับจ้างร้านเสริมสวย ใน จ.เชียงใหม่ โดยไทม์ไลน์ของผู้ป่วยรายดังกล่าว ดังนี้
    </p>
    <p>วันที่ 16 ธันวาคม โดยสารมากับรถบัสสองชั้น ท่าตอน-กรุงเทพมหานคร นั่งมาชั้นล่าง มาด้วยกัน 3 คน ผู้ป่วยสวมหน้ากากตลอดเวลา 
        <br>
        วันที่ 17 ธันวาคม เวลาประมาณ 05.00 น. เดินทางถึงจังหวัดพระนครศรีอยุธยา ลงรถที่บริเวณต่างระดับบางปะอินถนนสายเอเชีย นั่งวินรถจักรยานยนต์ กลับบ้านพักใน อ.บางปะอิน
        <br>
        วันที่ 18 ธันวาคม เวลาประมาณ 10.30 น. นั่งท้ายรถกระบะ เดินทางมาตรวจ หาเชื้อไวรัสโควิด-19 ที่โรงพยาบาลบางปะอิน
        <br>
        วันที่ 19 ธันวาคม เวลาประมาณ 08.00 น. ไปเดินซื้อของที่ตลาดเช้า (ตลาดหมู่บ้านศรีทอง) อ.บางปะอิน วันเดียวกันทราบผลตรวจพบติดเชื้อไวรัสโควิด-19 ไม่มีอาการ และเข้ารับการรักษาตัวทันทีที่โรงพยาบาล
        <br>
        ทางทีมสอบสวนโรคสำนักงานสาธารณสุขจังหวัดเชียงใหม่ ร่วมกับทีมสอบสวนโรคสำนักงานสาธารณสุขอำเภอแม่อาย ได้ลงพื้นที่สอบสวนโรค เบื้องต้นพบว่า ผู้ป่วยรายดังกล่าว มีภูมิลำเนาจังหวัดอยุธยา เดินทางเข้ามาทำงานที่ร้านเสริมสวย ในอำเภอแม่อาย จังหวัดเชียงใหม่ ประมาณ 5 เดือนที่ผ่านมา ซึ่งขณะนี้ได้สอบสวนหาผู้สัมผัสใกล้ชิดเสี่ยงสูง จำนวน 9 ราย เป็นผู้อยู่ร่วมบ้านและร้านเสริมสวย ผู้สัมผัสเสี่ยงต่ำ จำนวน 11 ราย ผู้สัมผัสทั้งหมดได้รับการตรวจหาเชื้อโควิด-19 ในวันนี้ (20 ธันวาคม 2563) ขณะนี้รอผลตรวจ</p>
  </div>
  <br><br>
</div>

<app-footer></app-footer>
