<!-- <div class="wrapper"> -->

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Admin Manage </h3>
        </div>

        <ul class="list-unstyled components">
            <p>ระบบการจัดการ</p>
            <!-- <li class="active"></li> -->
            <li>
                <a href="#Submenu-travel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">สถานที่ท่องเที่ยว</a>
                <ul class="collapse list-unstyled" id="Submenu-travel">
                    <li>
                        <a [routerLink]="['/users/admin/travel-table']">ตารางข้อมูลสถานที่ท่องเที่ยว</a>
                    </li>
                    <li>
                        <a [routerLink]="['/users/admin/add-travel']">เพิ่มข้อมูลสถานที่ท่องเที่ยว</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#Submenu-accommodation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">สถานที่พัก</a>
                <ul class="collapse list-unstyled" id="Submenu-accommodation">
                    <li>
                        <a [routerLink]="['/users/admin/accommodation-table']">ตารางข้อมูลสถานที่พัก</a>
                    </li>
                    <li>
                        <a [routerLink]="['/users/admin/add-accommodation']">เพิ่มข้อมูลสถานที่พัก</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#Submenu-restaurant" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ร้านอาหาร</a>
                <ul class="collapse list-unstyled" id="Submenu-restaurant">
                    <li>
                        <a [routerLink]="['/users/admin/restaurant-table']">ตารางข้อมูลร้านอาหาร</a>
                    </li>
                    <li>
                        <a [routerLink]="['/users/admin/add-restaurant']">เพิ่มข้อมูลร้านอาหาร</a>
                    </li>
                </ul>
            </li>
            <!-- <li>
                <a href="#Submenu-news" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ข่าวสาร</a>
                <ul class="collapse list-unstyled" id="Submenu-news">
                    <li>
                        <a [routerLink]="['/users/admin/news-table']">ตารางข้อมูลข่าวสาร</a>
                    </li>
                    <li>
                        <a [routerLink]="['/users/admin/add-news']">เพิ่มข้อมูลข่าวสาร</a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </nav>

    <!-- Page Content -->
    <!-- <div id="content"> -->
        <!-- We'll fill this with dummy content -->
    <!-- </div> -->

<!-- </div> -->