<app-header></app-header>

<div class="container m-t-5">
  <div class="shadow-lg p-5 mb-5 bg-white rounded">
    <div class="content">
      <div class="title text-center">
        <h1 style="color: #28B463">{{ res_res[0].res_name }}</h1>
      </div>
      <div class="detail">
        <p>{{ res_res[0].res_detail }}</p>
      </div>
      <hr>
      <div class="type-content">
          <div class="d-flex">
             <h4>ประเภทที่ร้านอาหาร</h4>
             &nbsp;&nbsp;&nbsp;&nbsp;
             <h4 style="color: #28B463">{{ res_res[0].res_type[0].restaurant_type_name }}</h4>
             &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <hr>
      <div class="map d-flex">
        <h4>เวลาเปิด</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <h4 style="color: #28B463">{{  res_res[0].time_open  }} น.</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h4>เวลาปิด</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <h4 style="color: #28B463">{{  res_res[0].time_close }} น.</h4>
      </div>
      <hr>
      <div class="map d-flex">
        <h4>ที่อยู่</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <h4 style="color: #28B463">{{  res_res[0].address   }}</h4>
      </div>
      <hr>
      <div class="map d-flex">
        <h4>เบอร์โทร</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <h4 style="color: #28B463">{{  res_res[0].phone  }}</h4>
      </div>
      <hr>
      <div class="map d-flex">
        <h4>เว็บไซต์</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <h4 style="color: #28B463"><a [href]="res_res[0].website" target="_blank" style="color: #28B463;">{{  res_res[0].website  }}</a></h4>
      </div>
      <hr>
      <div class="images">
        <h4>รูปภาพ <i class="fa fa-picture-o" style="color:red" aria-hidden="true"></i></h4>
        <br>
        <div class="blog-img">
            <a *ngFor="let images of res_res[0].images" class="col-sm-12 col-md-4 col-lg-3">
                <img class="img-show shadow" [src]="images.path">
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
