<div class="limiter">
    <div class="container-login100" style="background-image: url('./assets/images/login/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-49">
                    Sign Up
                </span>

                
                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Type your username" [(ngModel)]="userRegis.fullname">
                    <span class="focus-input100"></span>
                    <span class="focus-input100_"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="pass" placeholder="Type your password" [(ngModel)]="userRegis.password">
                    <span class="focus-input100"></span>
                    <span class="focus-input100_"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Birthday is reauired">
                    <span class="label-input100">Birthday</span>
                    <input class="input100" type="date" name="birthday" placeholder="Type your birthday" [(ngModel)]="userRegis.birthday">
                    <span class="focus-input100"></span>
                    <span class="focus-input100_"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Email is reauired">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="email" placeholder="Type your email" [(ngModel)]="userRegis.email">
                    <span class="focus-input100"></span>
                    <span class="focus-input100_"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                
                
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" (click)="submit()">
                            register
                        </button>
                    </div>
                </div>

                <div class="flex-col-c p-t-155">
                    <a href="#" class="txt2" [routerLink]="['/login']">
                         Back to Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>